apiVersion: apps/v1
kind: Deployment
metadata:
  name: okeydokey
  labels:
    app: okeydokey
spec:
  replicas: 2
  selector:
    matchLabels:
      app: okeydokey
  template:
    metadata:
      labels:
        app: okeydokey
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: main
        image: devopswithkubernetes/okeydokey:v0.0.4
        ports:
        - containerPort: 5000
  minReadySeconds: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
